.paycheck-wrapper {
    padding: 1em;
    cursor: pointer;
    .date {
        font-weight: bold;
    }
    .money {
        font-weight: bold;
    }
    .unallocated-money {
        font-weight: bold;
    }
    .edit-icon {
        display: none;
    }
    &:hover {
        .edit-icon {
            display: inline;
        }
    }
}