<table class="grid-wrapper" #table>
  <thead>
    <tr  class="accounts-header">
      <th class="null-block"></th>
      <th *ngFor="let account of (accounts | async)" class="account">
        <bgt-account [account]="account"></bgt-account>
      </th>
      <th class="scroll-bar-block"></th>
    </tr>
  </thead>
  <tbody class="body-wrapper">
    <tr class="paychecks-wrapper" *ngFor="let paycheck of (paychecks | async)">
      <td class="paycheck">
        <bgt-paycheck [paycheck]="paycheck"></bgt-paycheck>
      </td>
      <td *ngFor="let account of (accounts | async)" class="account-paycheck-wrapper"> 
        <bgt-account-paycheck-data [account]="account" [paycheck]="paycheck"></bgt-account-paycheck-data>
      </td>
    </tr>
  </tbody>
</table>