$account-header-height: 5rem;
$paycheck-column-width: 15rem;
$account-column-width: 10rem;

$body-border: 1px solid black;
$header-border: 2px solid black;

.grid-wrapper {
    background-color: white;
    // height: 100%;
    // width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    .accounts-header {
        // height: $account-header-height;
        border-bottom: $header-border;
        // display: block;
        .account {
            text-align: center;
            border-right: $body-border;
            white-space: nowrap;
        }
        .null-block {
            width: $paycheck-column-width;
            border-right: $header-border;
            background-color: inherit;
        }
        .scroll-bar-block{
            width: 17px;
            background-color: hsl(0, 0%, 95%);
        }
    }
    .body-wrapper{
        // height: 100%;
        // width: 100%;
        // display: block;
        // overflow-y: scroll;
        .paychecks-wrapper {
            .paycheck {
                padding: 1em;
                width: $paycheck-column-width;
                border-right: $header-border;
                border-bottom: $body-border;
            }
            .account-paycheck-wrapper {
                padding: .75em;
                border: $body-border;
            }
        }
    }
}