:host {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;

    .logo-wrapper {
        display: inline-block;
        height: 100%;
        width: auto;

        .logo-image-wrapper {
            display: inline-block;   
            height: 100%;
            width: auto; 
            margin-right: 10px;
            background-color: white;
            border-radius: 50%;

            .logo {
                display: inline-block;    
                height: 100%;
                width: auto;
            }
        }

        .logo-text{
            position: relative;
            display: inline-block;
            top: -40%;
        }
    }

    .buttons-wrapper {
        margin-left: 2em;
    }
}